.IMC {

    background-color: #5be6ff;
    margin: 20px auto;
    padding: 40px 0;
    width: 1000px;

}

.IMC h2 {
    color: rgb(11, 11, 86);
}

input, button {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: rgb(246, 246, 246);
    font-size: 1em;
}